button{
    color:white;
    font-size: 20px;
    background-color: grey;
    width: 73px;
    height: 45px;
    margin: 2px;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    font-size: x-large;
    width: 303px;
    height: 45px;
    margin-bottom: 5px;
}
#name{
    text-align: center;
    font-family: monospace;;
    font-size: 25px;
}
#main{
    background-color:#1B7D74;
    border-radius: 5px;
    border:1px #1B7D74 solid;
    display: inline-block;
    position: relative;
    margin-top: 15%;
    left: 40%;
    width: 340px;
    height: 430px;
    padding-left: 20px;
}
#butt{
    margin-top: 10px;
}
#restart{
    background-color: red;
}
#name{
    color: seashell;
}